* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #ffc6b9, #ffa693);
}
.card {
  width: 320px;
  height: 400px;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 3px;
  background-size: cover;
  background-position: center;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.card .front {
  background-image: url(images/front-face-bg.jpg);
}

.card .back {
  transform: rotateY(180deg);
  background-image: url(images/back-face-bg.jpg);
}
.card:hover > .back {
  transform: rotateY(0deg);
}

.card:hover > .front {
  transform: rotateY(-180deg);
}
.card .back h2 {
  color: #fff;
  font-size: 32px;
  margin-top: 45%;
}
.card .back p {
  color: #f1f1f1;
  font-size: 18px;
}
.card .icons {
  margin-top: 20px;
}
.card .icons i {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  color: #e74723;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.3s;
}

.card .icons i:hover {
  color: #fff;
  background-color: #e74723;
}
